body {
    font-family: 'Roboto', sans-serif;
}
h1 {
    font-size: 50px;
}
.name-color {
    color: orange;
}
section {
    display: flex;
}
.half-width {
    padding-left: 2%;
    width: 50%;
}
.half-width img {
    width: 80%;
}
.hire-btn {
    text-decoration: none;
    background-image: linear-gradient(tomato,orange);
    padding: 10px 40px;
    color: white;
    font-weight: 700;
    border-radius: 5px;
}