body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
}
h1 {
    font-size: 50px;
}
.name-color {
    color: orange;
}
.welcome-big-area {
    display: flex;
}
.half-width {
    padding-left: 2%;
    width: 50%;
}
.half-width img {
    width: 78%;
}
.hire-btn {
    text-decoration: none;
    background-image: linear-gradient(tomato,orange);
    padding: 10px 40px;
    color: white;
    font-weight: 700;
    border-radius: 5px;
}
.top-banner {
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
    margin-bottom: 100px;
}
.dream-big {
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.full-stack-area {
    display: flex;
}
.dream-area {
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    box-shadow: 10px 10px 20px gray;
    padding: 2%;
    border-radius: 5px;

}
.experience-area {
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
#full-stack-border {
    border-left: 8px solid;
    border-image: linear-gradient(orange,tomato);
    border-image-slice: 1;
}
#baby-web-border {
    border-left: 8px solid;
    border-image: linear-gradient(olive,green);
    border-image-slice: 1;
}
footer p {
    text-align:center;
}